 footer{
    background-color: #d7014a; 
    color: white;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
 }
.about{
   text-align: center;
   font-size: 28px;
}
.travel-guide{
   display: block;
   background-color:#f0a037;
   border-start-start-radius: 15px;
   border-start-end-radius: 15px;
}